In [19]:
import pandas as pd

df = pd.read_excel('base dash.xlsx', sheet_name='Planilha1')
df.head()

,Nome,Data de nascimento,Número do atendimento,Idade,Gênero,Peso (kg),Altura (m),IMC,Hipertensão arterial (sim ou não),DM (sim ou não),...,Encaminhamento para UTI no pós-operatório (sim ou não),Uso de opióide prescrito de horário nas primeiras 24 horas,uso de opióide nas primeiras 36 horas,hora data da primeira dose de oxicodona,Tempo para uso da primeira dose de oxicodona em horas {hora},Uso de pregabalina na internação (sim ou não),Uso de gabapentina na internação (sim ou não),Dor com escala verbal numérica maior que maior que 3 na internação (sim ou não),Uso de opióide de resgate nas primeiras 24 horas (sim ou não),Uso de opioide de resgate na primeiras 36 horas (sim ou não)
0,Maria Lucia Bezerra de Mello Loureiro Amorim,1952-01-28 00:00:00,19301233,68,Feminino,73.0,1.60,28.515625,sim,sim,...,sim,nao,nao,NaT,NaN,nao,nao,nao,nao,nao
1,Paulo Onnik Debelian,1962-09-26 00:00:00,20731452,58,Masculino,76.0,1.65,27.915519,nao,nao,...,nao,sim,sim,2021-02-19 18:00:00,06:35:00,nao,nao,nao,nao,nao
2,Roberto José Gomes,1948-04-11 00:00:00,21243864,73,Masculino,87.0,1.72,29.407788,sim,nao,...,nao,nao,nao,NaT,NaN,nao,nao,sim,nao,nao
3,Luiz Guilherme Bender,1950-01-17 00:00:00,15354873,69,Masculino,90.0,1.80,27.777778,nao,nao,...,nao,sim,sim,2019-06-25 23:59:00,11:59:00,nao,nao,sim,nao,nao
4,Lindalva Pires Alves,1958-06-04 00:00:00,18964709,62,Feminino,97.0,1.67,34.780738,sim,nao,...,nao,nao,nao,2020-08-25 20:00:00,08:20:00,nao,nao,sim,nao,nao

In [20]:
df.columns

Index(['Nome', 'Data de nascimento', 'Número do atendimento', 'Idade',
       'Gênero', 'Peso (kg)', 'Altura (m)', 'IMC',
       'Hipertensão arterial (sim ou não)', 'DM (sim ou não)',
       'DPOC (sim ou não)', 'Outras comorbidades (citar)', 'ASA',
       'Cirurgia realizada', 'Lateralidade (direita ou esquerda)',
       'Fentanil (dose ou na)', 'Sufentanil (dose ou na)',
       'Dose de metadona (dose ou na)', 'Dose de Desmetomedina (dose ou na)',
       'Ketamina (dose ou na)', 'Dose de sulfato de magnésio (dose ou na)',
       'Dose de Lidocaína (dose ou na)',
       'Realização de bloqueio do plano eretor da espinha (sim ou não)',
       'Volume de anestésica utilizado no bloqueio do plano eretor da espinha em ml',
       'Concentração do anestésico utilizado no bloqueio do plano eretor da espinha',
       'Passagem de Cateter no plano eretor da espinha (sim ou não)',
       'Programação da PCA (continua ou contínua + bolus)', 'Fluxo', 'Bolus',
       'Número de bolus da PCA em 24 horas',
       'Número de bolus da PCA em 48 horas', 'INTERNAÇÃO', 'INICIO CIRURGIA',
       'TERMINO CIRURGIA', 'Tempo de duração da cirurgia',
       'MINUTOS Tempo de duração da cirurgia', 'M alta da RPA',
       'Tempo de permância na RPA', 'MINUTOS Tempo de permância na RPA',
       'data-hora da retirada do dreno de tórax',
       'Tempo com dreno de tórax {hora}', 'VAZIO ?', 'Alta hospitalar',
       'Tempo de internação após a cirurgia',
       'Opióide de resgate na RPA (sim ou não)',
       'Encaminhamento para UTI no pós-operatório (sim ou não)',
       'Uso de opióide prescrito de horário nas primeiras 24 horas',
       'uso de opióide nas primeiras 36 horas',
       'hora data da primeira dose de oxicodona',
       'Tempo para uso da primeira dose de oxicodona em horas {hora}',
       'Uso de pregabalina na internação (sim ou não)',
       'Uso de gabapentina na internação (sim ou não)',
       'Dor com escala verbal numérica maior que maior que 3 na internação (sim ou não)',
       'Uso de opióide de resgate nas primeiras 24 horas (sim ou não)',
       'Uso de opioide de resgate na primeiras 36 horas (sim ou não)'],
      dtype='object')

In [21]:
for i in df[['Opióide de resgate na RPA (sim ou não)','Uso de opióide prescrito de horário nas primeiras 24 horas',
            'uso de opióide nas primeiras 36 horas','Dor com escala verbal numérica maior que maior que 3 na internação (sim ou não)',
            'Uso de opióide de resgate nas primeiras 24 horas (sim ou não)','Uso de opióide de resgate nas primeiras 24 horas (sim ou não)',
             'Uso de opioide de resgate na primeiras 36 horas (sim ou não)']]:
    a = df.groupby([i])[i].count().reset_index(name='fi')
    a['fr'] = round((a['fi']*100)/sum(a['fi']),2)
    display(a)

  Opióide de resgate na RPA (sim ou não)  fi     fr
0                                    Não   1   1.49
1                                    nao  58  86.57
2                                    sim   8  11.94

  Uso de opióide prescrito de horário nas primeiras 24 horas  fi    fr
0                                                nao          39  50.0
1                                                sim          39  50.0

  uso de opióide nas primeiras 36 horas  fi     fr
0                                   nao  34  43.59
1                                   sim  44  56.41

,Dor com escala verbal numérica maior que maior que 3 na internação (sim ou não),fi,fr
0,nao,55,70.51
1,sim,23,29.49

  Uso de opióide de resgate nas primeiras 24 horas (sim ou não)  fi     fr
0                                                nao             71  91.03
1                                                sim              7   8.97

  Uso de opióide de resgate nas primeiras 24 horas (sim ou não)  fi     fr
0                                                nao             71  91.03
1                                                sim              7   8.97

  Uso de opioide de resgate na primeiras 36 horas (sim ou não)  fi     fr
0                                                nao            71  91.03
1                                                sim             7   8.97

In [22]:
for i in df[['Opióide de resgate na RPA (sim ou não)','Uso de opióide prescrito de horário nas primeiras 24 horas',
            'uso de opióide nas primeiras 36 horas','Dor com escala verbal numérica maior que maior que 3 na internação (sim ou não)',
            'Uso de opióide de resgate nas primeiras 24 horas (sim ou não)','Uso de opióide de resgate nas primeiras 24 horas (sim ou não)',
             'Uso de opioide de resgate na primeiras 36 horas (sim ou não)']]:
    a = df.groupby([i, 'Realização de bloqueio do plano eretor da espinha (sim ou não)']).size().unstack()
    for t in a.columns:
        a[t].fillna(0, inplace=True)
        a[t] = a[t].apply(lambda x: int(x))
    a.loc['total'] = a.sum(axis=0)
    b = a.copy()
    for c in a.columns:
        a[c] = a[c]*100/a[c]['total']
    display(round(a, 2))
    display(round(b, 2))
    print("======"*15)

Realização de bloqueio do plano eretor da espinha (sim ou não)     nao    sim
Opióide de resgate na RPA (sim ou não)
Não                                                               3.70    0.0
nao                                                              81.48   90.0
sim                                                              14.81   10.0
total                                                           100.00  100.0

Realização de bloqueio do plano eretor da espinha (sim ou não)  nao  sim
Opióide de resgate na RPA (sim ou não)
Não                                                               1    0
nao                                                              22   36
sim                                                               4    4
total                                                            27   40

==========================================================================================

Realização de bloqueio do plano eretor da espinha (sim ou não)     nao     sim
Uso de opióide prescrito de horário nas primeir...
nao                                                              27.27   66.67
sim                                                              72.73   33.33
total                                                           100.00  100.00

Realização de bloqueio do plano eretor da espinha (sim ou não)  nao  sim
Uso de opióide prescrito de horário nas primeir...
nao                                                               9   30
sim                                                              24   15
total                                                            33   45

==========================================================================================

Realização de bloqueio do plano eretor da espinha (sim ou não)     nao     sim
uso de opióide nas primeiras 36 horas
nao                                                              24.24   57.78
sim                                                              75.76   42.22
total                                                           100.00  100.00

Realização de bloqueio do plano eretor da espinha (sim ou não)  nao  sim
uso de opióide nas primeiras 36 horas
nao                                                               8   26
sim                                                              25   19
total                                                            33   45

==========================================================================================

Realização de bloqueio do plano eretor da espinha (sim ou não)     nao     sim
Dor com escala verbal numérica maior que maior ...
nao                                                              75.76   66.67
sim                                                              24.24   33.33
total                                                           100.00  100.00

Realização de bloqueio do plano eretor da espinha (sim ou não)  nao  sim
Dor com escala verbal numérica maior que maior ...
nao                                                              25   30
sim                                                               8   15
total                                                            33   45

==========================================================================================

Realização de bloqueio do plano eretor da espinha (sim ou não)     nao     sim
Uso de opióide de resgate nas primeiras 24 hora...
nao                                                              93.94   88.89
sim                                                               6.06   11.11
total                                                           100.00  100.00

Realização de bloqueio do plano eretor da espinha (sim ou não)  nao  sim
Uso de opióide de resgate nas primeiras 24 hora...
nao                                                              31   40
sim                                                               2    5
total                                                            33   45

==========================================================================================

Realização de bloqueio do plano eretor da espinha (sim ou não)     nao     sim
Uso de opióide de resgate nas primeiras 24 hora...
nao                                                              93.94   88.89
sim                                                               6.06   11.11
total                                                           100.00  100.00

Realização de bloqueio do plano eretor da espinha (sim ou não)  nao  sim
Uso de opióide de resgate nas primeiras 24 hora...
nao                                                              31   40
sim                                                               2    5
total                                                            33   45

==========================================================================================

Realização de bloqueio do plano eretor da espinha (sim ou não)     nao     sim
Uso de opioide de resgate na primeiras 36 horas...
nao                                                              93.94   88.89
sim                                                               6.06   11.11
total                                                           100.00  100.00

Realização de bloqueio do plano eretor da espinha (sim ou não)  nao  sim
Uso de opioide de resgate na primeiras 36 horas...
nao                                                              31   40
sim                                                               2    5
total                                                            33   45

==========================================================================================

In [28]:
round(df[['Idade','IMC']].describe().T, 2)

       count   mean    std    min    25%    50%    75%    max
Idade   78.0  62.62  12.69  20.00  58.00  66.00  72.00  81.00
IMC     78.0  28.01   5.14  18.59  25.11  26.86  30.92  49.12

In [29]:
round(df[['Tempo de permância na RPA']].describe().T, 2)

                          count unique       top freq
Tempo de permância na RPA    65     47  02:00:00    4